In [1]:
import pandas as pd
import numpy as np

In [32]:
df1 = pd.read_csv('Bank Nifty futures 2010 - 2019 (GFDL).csv')
df2 = pd.read_excel('1.xlsx')
df3 = pd.read_excel('Banknifty Backtesting .xlsx')

In [33]:
df=df2[['Date', 'Trade Type', 'Bought At', 'Sold At', 'BuyTime', 'SellTime']]

In [34]:
df.head()

         Date  Trade Type  Bought At    Sold At   BuyTime  SellTime
0  2010-10-01   Long Sale  12464.400  12490.825  10:00:00  13:10:00
1  2010-10-01   Long Sale  12464.400  12578.750  13:15:00  15:10:00
2  2010-10-04   Long Sale  12749.500  12722.625  10:10:00  10:45:00
3  2010-10-04   Long Sale  12749.500  12695.125  10:55:00  13:00:00
4  2010-10-04  Short Sale  12715.075  12675.000  15:00:00  13:50:00

In [35]:
#add time
df.loc[df['Trade Type'] == 'Long Sale', 'Entry Date Time'] = df['Date'].astype(str)+' '+df['BuyTime'].astype(str)
df.loc[df['Trade Type'] == 'Short Sale', 'Entry Date Time'] = df['Date'].astype(str)+' '+df['SellTime'].astype(str)
df.loc[df['Trade Type'] == 'Long Sale', 'Ex. Date Time'] = df['Date'].astype(str)+' '+df['SellTime'].astype(str)
df.loc[df['Trade Type'] == 'Short Sale', 'Ex. Date Time'] = df['Date'].astype(str)+' '+df['BuyTime'].astype(str)

C:\Users\ssc\anaconda3\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\ssc\anaconda3\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [36]:
df.head()

,Date,Trade Type,Bought At,Sold At,BuyTime,SellTime,Entry Date Time,Ex. Date Time
0,2010-10-01,Long Sale,12464.400,12490.825,10:00:00,13:10:00,2010-10-01 10:00:00,2010-10-01 13:10:00
1,2010-10-01,Long Sale,12464.400,12578.750,13:15:00,15:10:00,2010-10-01 13:15:00,2010-10-01 15:10:00
2,2010-10-04,Long Sale,12749.500,12722.625,10:10:00,10:45:00,2010-10-04 10:10:00,2010-10-04 10:45:00
3,2010-10-04,Long Sale,12749.500,12695.125,10:55:00,13:00:00,2010-10-04 10:55:00,2010-10-04 13:00:00
4,2010-10-04,Short Sale,12715.075,12675.000,15:00:00,13:50:00,2010-10-04 13:50:00,2010-10-04 15:00:00

In [37]:
#entry exit
df.loc[df['Trade Type'] == 'Long Sale', 'EntryPrice'] = df['Bought At']
df.loc[df['Trade Type'] == 'Short Sale', 'EntryPrice'] = df['Sold At']
df.loc[df['Trade Type'] == 'Long Sale', 'Exit Price'] = df['Sold At']
df.loc[df['Trade Type'] == 'Short Sale', 'Exit Price'] = df['Bought At']

C:\Users\ssc\anaconda3\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\ssc\anaconda3\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [45]:
df.loc[df['Trade Type'] == 'Long Sale', 'Trade'] = 'Long'
df.loc[df['Trade Type'] == 'Short Sale', 'Trade'] = 'Short'

In [40]:
df=df[['Date', 'Trade Type', 'Entry Date Time', 'Ex. Date Time', 'EntryPrice', 'Exit Price']]

In [50]:
df.head()

   Trade      Entry Date Time        Ex. Date Time  EntryPrice  Exit Price
0   Long  2010-10-01 10:00:00  2010-10-01 13:10:00     12464.4   12490.825
1   Long  2010-10-01 13:15:00  2010-10-01 15:10:00     12464.4   12578.750
2   Long  2010-10-04 10:10:00  2010-10-04 10:45:00     12749.5   12722.625
3   Long  2010-10-04 10:55:00  2010-10-04 13:00:00     12749.5   12695.125
4  Short  2010-10-04 13:50:00  2010-10-04 15:00:00     12675.0   12715.075

In [49]:
df=df[['Trade', 'Entry Date Time', 'Ex. Date Time', 'EntryPrice', 'Exit Price']]

In [44]:
df3.head()

,Symbol,Trade,Entry Date Time,EntryPrice,Ex. Date Time,Exit Price
0,BANKNIFTY-I,Long,2010-01-04 11:40:00,9078.634,2010-01-04 15:15:00,9110.9
1,BANKNIFTY-I,Long,2010-01-05 13:30:00,9190.452,2010-01-05 15:15:00,9175.0
2,BANKNIFTY-I,Long,2010-01-06 09:35:00,9216.372,2010-01-06 15:15:00,9216.0
3,BANKNIFTY-I,Short,2010-01-07 09:30:00,9151.100,2010-01-07 10:20:00,9184.9
4,BANKNIFTY-I,Long,2010-01-07 10:20:00,9183.000,2010-01-07 12:00:00,9151.1

In [51]:
df.to_excel("Backtesting_output.xlsx")