<a href="https://colab.research.google.com/github/vamsikrishna00466/intern-work/blob/main/connect%20sql%20convert%20to%20dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing relevant libraries
import pandas as pd
import mysql.connector as mysql

In [ ]:
########################## Connecting to the Database ##########################
# enter your server IP address/domain name
HOST = "local host" # or "domain.com"
# database name, if you want just to connect to MySQL server, leave it empty
DATABASE = "database name"
# this is the user you create
USER = "username"
# user password
PASSWORD = "pass"
# connect to MySQL server
db_connection = mysql.connect(host=HOST, user=USER, password=PASSWORD)
print("Connected to:", db_connection.get_server_info())
cursor = db_connection.cursor()     # get the cursor

#cursor.execute("SELECT * FROM instrument_details")
cursor.execute("use stock_production;")
cursor.execute(f"SELECT id,script_name,start_date,start_time,open,high,low,close FROM cash_instruments WHERE start_date BETWEEN DATE('2019-12-01') AND DATE('2020-12-31');") 
myresult = cursor.fetchall()
df = pd.DataFrame(myresult, columns=["id","script_name","start_date","start_time","open","high","low","close"])