<a href="https://colab.research.google.com/github/vamsikrishna00466/intern-work/blob/main/val1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [115]:
df=pd.read_excel('/content/19-03-21_result.xlsx')

In [116]:
df = df[['Date', 'Trade', 'Entry Date Time', 'Ex. Date Time', 'EntryPrice', 'year', 'Exit Price', 'Profit/Loss']]

In [117]:
df.tail()

            Date  Trade      Entry Date Time  ...  year  Exit Price  Profit/Loss
1821  2019-10-25   Long  2019-10-25 14:30:00  ...  2019    29399.75       121.60
1822  2019-10-29   Long  2019-10-29 10:55:00  ...  2019    29871.00       245.40
1823  2019-10-30  Short  2019-10-30 09:30:00  ...  2019    30019.95      -201.90
1824  2019-10-30   Long  2019-10-30 10:20:00  ...  2019    29975.50       -45.10
1825  2019-10-30  Short  2019-10-30 14:35:00  ...  2019    29968.45       -23.75

[5 rows x 8 columns]

In [118]:
df.loc[df['Date']== '2019-09-20']

            Date Trade      Entry Date Time  ...  year  Exit Price  Profit/Loss
1785  2019-09-20  Long  2019-09-20 09:25:00  ...  2019    29089.85      2192.05

[1 rows x 8 columns]

In [119]:
df1 = df.groupby('Date')['Profit/Loss'].agg(['sum'])

In [120]:
df1['sum'].sort_values(ascending=False)

Date
2019-09-20    2192.05
2015-06-02     642.45
2019-09-17     614.55
2015-05-06     614.10
2019-07-19     605.05
               ...
2019-06-10    -453.95
2019-08-23    -458.05
2019-10-11    -494.75
2019-07-05    -596.40
2018-09-28    -651.60
Name: sum, Length: 1162, dtype: float64

In [121]:
max_perday=sum(df['Profit/Loss'])

In [122]:
min_perday=max(df1['sum'])

In [123]:
min(df1['sum'])

-651.5999999999985

In [124]:
total=len(df1)

In [125]:
640*total

743680

In [126]:
neg_count = len(list(filter(lambda x: (x < 0), df1['sum']))) 
  
# we can also do len(list1) - neg_count 
pos_count = len(list(filter(lambda x: (x >= 0), df1['sum'])))

In [127]:
print("Positive numbers in the list: ", pos_count) 
print("Negative numbers in the list: ", neg_count)

Positive numbers in the list:  575
Negative numbers in the list:  587

In [128]:
days_neghative = (neg_count/total)*100
days_positive = (pos_count/total)*100

In [129]:
pos_sum = sum(list(filter(lambda x: (x >= 0), df1['sum']))) 
neg_sum = sum(list(filter(lambda x: (x < 0), df1['sum'])))

In [130]:
df3 = pd.DataFrame(columns=['index','values'])

In [131]:
avg_profit_on_win_days=pos_sum/pos_count
avg_loss_on_loss_days=neg_sum/neg_count
max_consecutive_win=np.nan
max_consecutive_loss=np.nan
max_consecutive_draw=np.nan
perday_profit_loss=max(df1['sum'])
max_profit=pos_sum
max_loss=neg_sum

In [132]:
#days_neghative(%)
index='days_neghative(%)'
df3=df3.append({'index':index,
                'values':days_neghative},
               ignore_index=True)


#avg_profit_on_win_days
index='avg_profit_on_win_days'
df3=df3.append({'index':index,
                'values':avg_profit_on_win_days},
               ignore_index=True)

#avg_loss_on_loss_days
index='avg_loss_on_loss_days'
df3=df3.append({'index':index,
                'values':avg_loss_on_loss_days},
               ignore_index=True)

#max_consecutive_win
index='max_consecutive_win'
df3=df3.append({'index':index,
                'values':max_consecutive_win},
               ignore_index=True)

#max_consecutive_loss
index='max_consecutive_loss'
df3=df3.append({'index':index,
                'values':max_consecutive_loss},
               ignore_index=True)

#max_consecutive_draw
index='max_consecutive_draw'
df3=df3.append({'index':index,
                'values':max_consecutive_draw},
               ignore_index=True)

#perday_profit_loss
index='perday_profit_loss'
df3=df3.append({'index':index,
                'values':perday_profit_loss},
               ignore_index=True)

#max_profit
index='max_profit'
df3=df3.append({'index':index,
                'values':max_profit},
               ignore_index=True)

#max_loss
index='max_loss'
df3=df3.append({'index':index,
                'values':max_loss},
               ignore_index=True)

In [133]:
df3

                    index        values
0       days_neghative(%)     50.516351
1  avg_profit_on_win_days    140.499130
2   avg_loss_on_loss_days    -96.819847
3     max_consecutive_win           NaN
4    max_consecutive_loss           NaN
5    max_consecutive_draw           NaN
6      perday_profit_loss   2192.050000
7              max_profit  80787.000000
8                max_loss -56833.250000

In [134]:
df=pd.read_excel('/content/19-03-21_result.xlsx')

In [135]:
df = df[['Date', 'Trade', 'Entry Date Time', 'Ex. Date Time', 'EntryPrice', 'year', 'Exit Price', 'Profit/Loss']]
df_2015 = df.loc[df['year'] == 2015]
df_2016 = df.loc[df['year'] == 2016]
df_2017 = df.loc[df['year'] == 2017]
df_2018 = df.loc[df['year'] == 2018]
df_2019 = df.loc[df['year'] == 2019]
print('df_2015.shape:', df_2015.shape)
print('df_2016.shape:', df_2016.shape)
print('df_2017.shape:', df_2017.shape)
print('df_2018.shape:', df_2018.shape)
print('df_2019.shape:', df_2019.shape)

df_2015.shape: (371, 8)
df_2016.shape: (390, 8)
df_2017.shape: (378, 8)
df_2018.shape: (375, 8)
df_2019.shape: (312, 8)

In [136]:
avg_yearly_points_combined=df['Profit/Loss'].sum(axis = 0, skipna = True) 
avg_yearly_points_combined = avg_yearly_points_combined/5
avg_yearly_points_2015=df_2015['Profit/Loss'].sum(axis = 0, skipna = True) 
avg_yearly_points_2016=df_2016['Profit/Loss'].sum(axis = 0, skipna = True) 
avg_yearly_points_2017=df_2017['Profit/Loss'].sum(axis = 0, skipna = True) 
avg_yearly_points_2018=df_2018['Profit/Loss'].sum(axis = 0, skipna = True) 
avg_yearly_points_2019=df_2019['Profit/Loss'].sum(axis = 0, skipna = True) 
print('avg_yearly_points_combined:', avg_yearly_points_combined)
print('avg_yearly_points_2015:', avg_yearly_points_2015)
print('avg_yearly_points_2016:', avg_yearly_points_2016)
print('avg_yearly_points_2017:', avg_yearly_points_2017)
print('avg_yearly_points_2018:', avg_yearly_points_2018)
print('avg_yearly_points_2019:', avg_yearly_points_2019)

avg_yearly_points_combined: 4790.749999999987
avg_yearly_points_2015: 7450.099999999989
avg_yearly_points_2016: 2625.2999999999424
avg_yearly_points_2017: -866.1999999999534
avg_yearly_points_2018: 4705.049999999974
avg_yearly_points_2019: 10039.499999999982

In [137]:
#TP index need to update based on shape above
n=0
c=0.0004
df['cost']=np.nan
df['pnl_after']=np.nan
for i in range(n,len(df)):
  df['cost'][i] = df['EntryPrice'][i] * c
  df['pnl_after'][i] = df['Profit/Loss'][i] - df['cost'][i]

n=1
df['cpl']=np.nan
for i in range(n,len(df)):
  df['cpl'][0]=df['pnl_after'][0]
  df['cpl'][i]=df['pnl_after'][i]+df['cpl'][i-1]

n=1
x=0
df['draw_down']=np.nan
for i in range(n,len(df)):
  df['draw_down'][0]=df['pnl_after'][0]
  if (df['pnl_after'][i]+df['draw_down'][i-1] < x):
    df['draw_down'][i] = df['pnl_after'][i]+df['draw_down'][i-1]
  else:
    df['draw_down'][i] = x

TP = df['pnl_after'][1824] + df['cpl'][1825]
TP_avg = TP/5
MAX_DD = min(df['draw_down'])
CALMAR = TP_avg/MAX_DD
print('calmar:', CALMAR)
print('MAX_DD:', MAX_DD)


#2015
n=0
c=0.0004
df=df_2015.copy()
df['cost']=np.nan
df['pnl_after']=np.nan
for i in range(n,len(df)):
  df['cost'][i] = df['EntryPrice'][i] * c
  df['pnl_after'][i] = df['Profit/Loss'][i] - df['cost'][i]

n=1
df['cpl']=np.nan
for i in range(n,len(df)):
  df['cpl'][0]=df['pnl_after'][0]
  df['cpl'][i]=df['pnl_after'][i]+df['cpl'][i-1]

n=1
x=0
df['draw_down']=np.nan
for i in range(n,len(df)):
  df['draw_down'][0]=df['pnl_after'][0]
  if (df['pnl_after'][i]+df['draw_down'][i-1] < x):
    df['draw_down'][i] = df['pnl_after'][i]+df['draw_down'][i-1]
  else:
    df['draw_down'][i] = x

TP = df['pnl_after'][369] + df['cpl'][370]
TP_avg = TP/5
MAX_DD_2015 = min(df['draw_down'])
CALMAR_2015 = TP_avg/MAX_DD_2015

print('calmar_2015:', CALMAR_2015)
print('MAX_DD_2015:', MAX_DD_2015)



#2016
n=0
c=0.0004
df=df_2016.copy()
df=df.reset_index()
df['cost']=np.nan
df['pnl_after']=np.nan
for i in range(n,len(df)):
  df['cost'][i] = df['EntryPrice'][i] * c
  df['pnl_after'][i] = df['Profit/Loss'][i] - df['cost'][i]

n=1
df['cpl']=np.nan
for i in range(n,len(df)):
  df['cpl'][0]=df['pnl_after'][0]
  df['cpl'][i]=df['pnl_after'][i]+df['cpl'][i-1]

n=1
x=0
df['draw_down']=np.nan
for i in range(n,len(df)):
  df['draw_down'][0]=df['pnl_after'][0]
  if (df['pnl_after'][i]+df['draw_down'][i-1] < x):
    df['draw_down'][i] = df['pnl_after'][i]+df['draw_down'][i-1]
  else:
    df['draw_down'][i] = x

TP = df['pnl_after'][388] + df['cpl'][389]
TP_avg = TP/5
MAX_DD_2016 = min(df['draw_down'])
CALMAR_2016 = TP_avg/MAX_DD_2016

print('calmar_2016:', CALMAR_2016)
print('MAX_DD_2016:', MAX_DD_2016)

#2017
n=0
c=0.0004
df=df_2017.copy()
df=df.reset_index()
df['cost']=np.nan
df['pnl_after']=np.nan
for i in range(n,len(df)):
  df['cost'][i] = df['EntryPrice'][i] * c
  df['pnl_after'][i] = df['Profit/Loss'][i] - df['cost'][i]

n=1
df['cpl']=np.nan
for i in range(n,len(df)):
  df['cpl'][0]=df['pnl_after'][0]
  df['cpl'][i]=df['pnl_after'][i]+df['cpl'][i-1]

n=1
x=0
df['draw_down']=np.nan
for i in range(n,len(df)):
  df['draw_down'][0]=df['pnl_after'][0]
  if (df['pnl_after'][i]+df['draw_down'][i-1] < x):
    df['draw_down'][i] = df['pnl_after'][i]+df['draw_down'][i-1]
  else:
    df['draw_down'][i] = x

TP = df['pnl_after'][376] + df['cpl'][377]
TP_avg = TP/5
MAX_DD_2017 = min(df['draw_down'])
CALMAR_2017 = TP_avg/MAX_DD_2017

print('calmar_2017:', CALMAR_2017)
print('MAX_DD_2017:', MAX_DD_2017)

#2018
n=0
c=0.0004
df=df_2018.copy()
df=df.reset_index()
df['cost']=np.nan
df['pnl_after']=np.nan
for i in range(n,len(df)):
  df['cost'][i] = df['EntryPrice'][i] * c
  df['pnl_after'][i] = df['Profit/Loss'][i] - df['cost'][i]

n=1
df['cpl']=np.nan
for i in range(n,len(df)):
  df['cpl'][0]=df['pnl_after'][0]
  df['cpl'][i]=df['pnl_after'][i]+df['cpl'][i-1]

n=1
x=0
df['draw_down']=np.nan
for i in range(n,len(df)):
  df['draw_down'][0]=df['pnl_after'][0]
  if (df['pnl_after'][i]+df['draw_down'][i-1] < x):
    df['draw_down'][i] = df['pnl_after'][i]+df['draw_down'][i-1]
  else:
    df['draw_down'][i] = x

TP = df['pnl_after'][373] + df['cpl'][374]
TP_avg = TP/5
MAX_DD_2018 = min(df['draw_down'])
CALMAR_2018 = TP_avg/MAX_DD_2018

print('calmar_2018:', CALMAR_2018)
print('MAX_DD_2018:', MAX_DD_2018)


#2019
n=0
c=0.0004
df=df_2019.copy()
df=df.reset_index()
df['cost']=np.nan
df['pnl_after']=np.nan
for i in range(n,len(df)):
  df['cost'][i] = df['EntryPrice'][i] * c
  df['pnl_after'][i] = df['Profit/Loss'][i] - df['cost'][i]

n=1
df['cpl']=np.nan
for i in range(n,len(df)):
  df['cpl'][0]=df['pnl_after'][0]
  df['cpl'][i]=df['pnl_after'][i]+df['cpl'][i-1]

n=1
x=0
df['draw_down']=np.nan
for i in range(n,len(df)):
  df['draw_down'][0]=df['pnl_after'][0]
  if (df['pnl_after'][i]+df['draw_down'][i-1] < x):
    df['draw_down'][i] = df['pnl_after'][i]+df['draw_down'][i-1]
  else:
    df['draw_down'][i] = x

TP = df['pnl_after'][310] + df['cpl'][311]
TP_avg = TP/5
MAX_DD_2019 = min(df['draw_down'])
CALMAR_2019 = TP_avg/MAX_DD_2019

print('calmar_2019:', CALMAR_2019)
print('MAX_DD_2019:', MAX_DD_2019)

calmar: -0.2641395202885926
MAX_DD: -5649.607579999965
calmar_2015: -1.2671250888416967
MAX_DD_2015: -756.0076399999966
calmar_2016: 0.005890342981900025
MAX_DD_2016: -1351.9477600000148
calmar_2017: 0.18782941066666206
MAX_DD_2017: -4674.734019999969
calmar_2018: -0.11714528596080781
MAX_DD_2018: -1434.630840000009
calmar_2019: -0.9186123120991765
MAX_DD_2019: -1385.373180000008

In [138]:
df1 = pd.DataFrame(columns=["index","combined","2015","2016","2017","2018","2019"])
index='avg_yearly_points'
df1=df1.append({'index':index,
                'combined':avg_yearly_points_combined,
                '2015':avg_yearly_points_2015,
                '2016':avg_yearly_points_2016,
                '2017':avg_yearly_points_2017,
                '2018':avg_yearly_points_2018,
                '2019':avg_yearly_points_2019},
               ignore_index=True)

index='max_drawdown'
df1=df1.append({'index':index,
                'combined':MAX_DD,
                '2015':MAX_DD_2015,
                '2016':MAX_DD_2016,
                '2017':MAX_DD_2017,
                '2018':MAX_DD_2018,
                '2019':MAX_DD_2019},
               ignore_index=True)

index='calmar'
df1=df1.append({'index':index,
                'combined':CALMAR,
                '2015':CALMAR_2015,
                '2016':CALMAR_2016,
                '2017':CALMAR_2017,
                '2018':CALMAR_2018,
                '2019':CALMAR_2019},
               ignore_index=True)

In [139]:
df1

               index    combined  ...         2018          2019
0  avg_yearly_points  4790.75000  ...  4705.050000  10039.500000
1       max_drawdown -5649.60758  ... -1434.630840  -1385.373180
2             calmar    -0.26414  ...    -0.117145     -0.918612

[3 rows x 7 columns]

In [140]:
df3

                    index        values
0       days_neghative(%)     50.516351
1  avg_profit_on_win_days    140.499130
2   avg_loss_on_loss_days    -96.819847
3     max_consecutive_win           NaN
4    max_consecutive_loss           NaN
5    max_consecutive_draw           NaN
6      perday_profit_loss   2192.050000
7              max_profit  80787.000000
8                max_loss -56833.250000

In [141]:
df.tail()

     index        Date  Trade  ...  pnl_after         cpl   draw_down
307   1821  2019-10-25   Long  ...  109.88874  6493.32612  -947.55144
308   1822  2019-10-29   Long  ...  233.54976  6726.87588  -714.00168
309   1823  2019-10-30  Short  ... -213.82722  6513.04866  -927.82890
310   1824  2019-10-30   Long  ...  -57.10824  6455.94042  -984.93714
311   1825  2019-10-30  Short  ...  -35.72788  6420.21254 -1020.66502

[5 rows x 13 columns]