<a href="https://colab.research.google.com/github/vamsikrishna00466/intern-work/blob/main/validation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [259]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [260]:
df=pd.read_excel('data.xlsx')

In [261]:
df = df[['Date', 'Trade', 'Entry Date Time', 'Ex. Date Time', 'EntryPrice', 'year', 'Exit Price', 'Profit/Loss']]
df_2015 = df.loc[df['year'] == 2015]
df_2016 = df.loc[df['year'] == 2016]
df_2017 = df.loc[df['year'] == 2017]
df_2018 = df.loc[df['year'] == 2018]
df_2019 = df.loc[df['year'] == 2019]
print('df_2015.shape:', df_2015.shape)
print('df_2016.shape:', df_2016.shape)
print('df_2017.shape:', df_2017.shape)
print('df_2018.shape:', df_2018.shape)
print('df_2019.shape:', df_2019.shape)

df_2015.shape: (371, 8)
df_2016.shape: (390, 8)
df_2017.shape: (378, 8)
df_2018.shape: (375, 8)
df_2019.shape: (312, 8)

In [262]:
#TP index need to update based on shape above
n=0
c=0.0004
df['cost']=np.nan
df['pnl_after']=np.nan
for i in range(n,len(df)):
  df['cost'][i] = df['EntryPrice'][i] * c
  df['pnl_after'][i] = df['Profit/Loss'][i] - df['cost'][i]

n=1
df['cpl']=np.nan
for i in range(n,len(df)):
  df['cpl'][0]=df['pnl_after'][0]
  df['cpl'][i]=df['pnl_after'][i]+df['cpl'][i-1]

n=1
x=0
df['draw_down']=np.nan
for i in range(n,len(df)):
  df['draw_down'][0]=df['pnl_after'][0]
  if (df['pnl_after'][i]+df['draw_down'][i-1] < x):
    df['draw_down'][i] = df['pnl_after'][i]+df['draw_down'][i-1]
  else:
    df['draw_down'][i] = x

TP = df['pnl_after'][1824] + df['cpl'][1825]
TP_avg = TP/5
MAX_DD = -min(df['draw_down'])
CALMAR = TP_avg/MAX_DD
print('calmar:', CALMAR)
print('MAX_DD:', MAX_DD)


#2015
n=0
c=0.0004
df=df_2015.copy()
df['cost']=np.nan
df['pnl_after']=np.nan
for i in range(n,len(df)):
  df['cost'][i] = df['EntryPrice'][i] * c
  df['pnl_after'][i] = df['Profit/Loss'][i] - df['cost'][i]

n=1
df['cpl']=np.nan
for i in range(n,len(df)):
  df['cpl'][0]=df['pnl_after'][0]
  df['cpl'][i]=df['pnl_after'][i]+df['cpl'][i-1]

n=1
x=0
df['draw_down']=np.nan
for i in range(n,len(df)):
  df['draw_down'][0]=df['pnl_after'][0]
  if (df['pnl_after'][i]+df['draw_down'][i-1] < x):
    df['draw_down'][i] = df['pnl_after'][i]+df['draw_down'][i-1]
  else:
    df['draw_down'][i] = x

TP = df['pnl_after'][369] + df['cpl'][370]
TP_avg = TP/5
MAX_DD_2015 = -min(df['draw_down'])
CALMAR_2015 = TP_avg/MAX_DD_2015

print('calmar_2015:', CALMAR_2015)
print('MAX_DD_2015:', MAX_DD_2015)



#2016
n=0
c=0.0004
df=df_2016.copy()
df=df.reset_index()
df['cost']=np.nan
df['pnl_after']=np.nan
for i in range(n,len(df)):
  df['cost'][i] = df['EntryPrice'][i] * c
  df['pnl_after'][i] = df['Profit/Loss'][i] - df['cost'][i]

n=1
df['cpl']=np.nan
for i in range(n,len(df)):
  df['cpl'][0]=df['pnl_after'][0]
  df['cpl'][i]=df['pnl_after'][i]+df['cpl'][i-1]

n=1
x=0
df['draw_down']=np.nan
for i in range(n,len(df)):
  df['draw_down'][0]=df['pnl_after'][0]
  if (df['pnl_after'][i]+df['draw_down'][i-1] < x):
    df['draw_down'][i] = df['pnl_after'][i]+df['draw_down'][i-1]
  else:
    df['draw_down'][i] = x

TP = df['pnl_after'][388] + df['cpl'][389]
TP_avg = TP/5
MAX_DD_2016 = -min(df['draw_down'])
CALMAR_2016 = TP_avg/MAX_DD_2016

print('calmar_2016:', CALMAR_2016)
print('MAX_DD_2016:', MAX_DD_2016)

#2017
n=0
c=0.0004
df=df_2017.copy()
df=df.reset_index()
df['cost']=np.nan
df['pnl_after']=np.nan
for i in range(n,len(df)):
  df['cost'][i] = df['EntryPrice'][i] * c
  df['pnl_after'][i] = df['Profit/Loss'][i] - df['cost'][i]

n=1
df['cpl']=np.nan
for i in range(n,len(df)):
  df['cpl'][0]=df['pnl_after'][0]
  df['cpl'][i]=df['pnl_after'][i]+df['cpl'][i-1]

n=1
x=0
df['draw_down']=np.nan
for i in range(n,len(df)):
  df['draw_down'][0]=df['pnl_after'][0]
  if (df['pnl_after'][i]+df['draw_down'][i-1] < x):
    df['draw_down'][i] = df['pnl_after'][i]+df['draw_down'][i-1]
  else:
    df['draw_down'][i] = x

TP = df['pnl_after'][376] + df['cpl'][377]
TP_avg = TP/5
MAX_DD_2017 = -min(df['draw_down'])
CALMAR_2017 = TP_avg/MAX_DD_2017

print('calmar_2017:', CALMAR_2017)
print('MAX_DD_2017:', MAX_DD_2017)

#2018
n=0
c=0.0004
df=df_2018.copy()
df=df.reset_index()
df['cost']=np.nan
df['pnl_after']=np.nan
for i in range(n,len(df)):
  df['cost'][i] = df['EntryPrice'][i] * c
  df['pnl_after'][i] = df['Profit/Loss'][i] - df['cost'][i]

n=1
df['cpl']=np.nan
for i in range(n,len(df)):
  df['cpl'][0]=df['pnl_after'][0]
  df['cpl'][i]=df['pnl_after'][i]+df['cpl'][i-1]

n=1
x=0
df['draw_down']=np.nan
for i in range(n,len(df)):
  df['draw_down'][0]=df['pnl_after'][0]
  if (df['pnl_after'][i]+df['draw_down'][i-1] < x):
    df['draw_down'][i] = df['pnl_after'][i]+df['draw_down'][i-1]
  else:
    df['draw_down'][i] = x

TP = df['pnl_after'][373] + df['cpl'][374]
TP_avg = TP/5
MAX_DD_2018 = -min(df['draw_down'])
CALMAR_2018 = TP_avg/MAX_DD_2018

print('calmar_2018:', CALMAR_2018)
print('MAX_DD_2018:', MAX_DD_2018)


#2019
n=0
c=0.0004
df=df_2019.copy()
df=df.reset_index()
df['cost']=np.nan
df['pnl_after']=np.nan
for i in range(n,len(df)):
  df['cost'][i] = df['EntryPrice'][i] * c
  df['pnl_after'][i] = df['Profit/Loss'][i] - df['cost'][i]

n=1
df['cpl']=np.nan
for i in range(n,len(df)):
  df['cpl'][0]=df['pnl_after'][0]
  df['cpl'][i]=df['pnl_after'][i]+df['cpl'][i-1]

n=1
x=0
df['draw_down']=np.nan
for i in range(n,len(df)):
  df['draw_down'][0]=df['pnl_after'][0]
  if (df['pnl_after'][i]+df['draw_down'][i-1] < x):
    df['draw_down'][i] = df['pnl_after'][i]+df['draw_down'][i-1]
  else:
    df['draw_down'][i] = x

TP = df['pnl_after'][310] + df['cpl'][311]
TP_avg = TP/5
MAX_DD_2019 = -min(df['draw_down'])
CALMAR_2019 = TP_avg/MAX_DD_2019

print('calmar_2019:', CALMAR_2019)
print('MAX_DD_2019:', MAX_DD_2019)

calmar: 0.2641395202885926
MAX_DD: 5649.607579999965
calmar_2015: 1.2671250888416967
MAX_DD_2015: 756.0076399999966
calmar_2016: -0.005890342981900025
MAX_DD_2016: 1351.9477600000148
calmar_2017: -0.18782941066666206
MAX_DD_2017: 4674.734019999969
calmar_2018: 0.11714528596080781
MAX_DD_2018: 1434.630840000009
calmar_2019: 0.9186123120991765
MAX_DD_2019: 1385.373180000008

In [263]:
df1 = pd.DataFrame(columns=["index","combined","2015","2016","2017","2018","2019"])
index='avg_yearly_points'
avg_yearly_points_combined = np.nan
avg_yearly_points_2015 = np.nan
avg_yearly_points_2016 = np.nan
avg_yearly_points_2017 = np.nan
avg_yearly_points_2018 = np.nan
avg_yearly_points_2019 = np.nan
df1=df1.append({'index':index,
                'combined':avg_yearly_points_combined,
                '2015':avg_yearly_points_2015,
                '2016':avg_yearly_points_2016,
                '2017':avg_yearly_points_2017,
                '2018':avg_yearly_points_2018,
                '2019':avg_yearly_points_2019},
               ignore_index=True)

index='max_drawdown'
df1=df1.append({'index':index,
                'combined':MAX_DD_combined,
                '2015':MAX_DD_2015,
                '2016':MAX_DD_2016,
                '2017':MAX_DD_2017,
                '2018':MAX_DD_2018,
                '2019':MAX_DD_2019},
               ignore_index=True)

index='calmar'
df1=df1.append({'index':index,
                'combined':CALMAR,
                '2015':CALMAR_2015,
                '2016':CALMAR_2016,
                '2017':CALMAR_2017,
                '2018':CALMAR_2018,
                '2019':CALMAR_2019},
               ignore_index=True)

In [264]:
df1

               index    combined  ...         2018         2019
0  avg_yearly_points         NaN  ...          NaN          NaN
1       max_drawdown  5649.60758  ...  1434.630840  1385.373180
2             calmar     0.26414  ...     0.117145     0.918612

[3 rows x 7 columns]

In [265]:
df.tail()

     index        Date  Trade  ...  pnl_after         cpl   draw_down
307   1821  2019-10-25   Long  ...  109.88874  6493.32612  -947.55144
308   1822  2019-10-29   Long  ...  233.54976  6726.87588  -714.00168
309   1823  2019-10-30  Short  ... -213.82722  6513.04866  -927.82890
310   1824  2019-10-30   Long  ...  -57.10824  6455.94042  -984.93714
311   1825  2019-10-30  Short  ...  -35.72788  6420.21254 -1020.66502

[5 rows x 13 columns]